body {
  margin: 0;
  padding: 0;
  background: #f6f6f6;
}

.df_body {
  position: relative;
  width: 100%;
  height: 700px;
}

.df_bg {
  position: relative;
  width: 90%;
  height: 20%;
  margin: 0 auto;
  top: 1%;
  border-radius: 20px;
  background-image: url(../images/df_bg_b.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 0px 0px 20px #ccc;
}

.df_show_list {
  position: relative;
  width: 100%;
  height: 150px;
  top: 1%;
  margin: 0 auto;
}

.df_show_one {
  position: relative;
  float: left;
  width: 42%;
  height: 80%;
  background: green;
  border-radius: 20px;
  margin: 0 auto;
  left: 5%;
  top: 10%;
  box-shadow: 0px 0px 10px #ccc;
}

.df_show_one1 {
  background: linear-gradient(to right, #38ef7d, #3cdc86);
}

.df_show_one2 {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  left: 11%;
}

.df_show_te {
  position: relative;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  top: 10%;
  color: #fff;
  text-align: center;
}

.df_show_tet {
  font-size: 30px;
  font-weight: bold;
}

.df_show_teb {
  font-size: 40px;
  font-weight: bold;
}

.df_nav_btm {
  position: fixed;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background: #000;
  z-index: 999;
  border-top: 1px solid #ccc;
}

.nav_btm_one {
  position: relative;
  float: left;
  width: 25%;
  height: 100%;
  border-right: 1px solid;
  border-image: linear-gradient(black, white, black)3 4 3;
  box-sizing: border-box;
}

.btm_logo_1 {
  background-image: url(../images/df_nav_sy.png);
}

.btm_logo_2 {
  background-image: url(../images/df_nav_ssb.png);
}

.btm_logo_3 {
  background-image: url(../images/df_nav_sp.png);
}

.btm_logo_4 {
  background-image: url(../images/df_nav_lh.png);
}

.nav_btm_logo {
  position: relative;
  width: 40%;
  height: 50%;
  top: 6%;
  background-repeat: no-repeat;
  background-size: 22px;
  margin: 0 auto;
  background-position: center;
}

.nav_btm_te {
  position: relative;
  width: 100%;
  height: 30%;
  top: 12%;
  color: #fff;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
}

.df_use {
  position: relative;
  width: 100%;
  height: 330px;
  top: 10px;
  margin: 0 auto;
}

.df_use a {
  text-decoration: none;
  color: black;
}

.df_use_cygn {
  position: relative;
  top: -10px;
  text-align: center;
  letter-spacing: 1px;
  margin: 10px;
  padding: 0;
}

.df_use_one {
  position: relative;
  float: left;
  width: 25%;
  height: 25%;
  top: -5%;
  margin-top: 5%;
  margin-left: 6%;
  background: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

.df_use_im1 {
  background-image: url(../images/df_use_sm.png);
}

.df_use_im2 {
  background-image: url(../images/df_use_gl.png);
}

.df_use_im3 {
  background-image: url(../images/df_use_tz.png);
}

.df_use_im4 {
  background-image: url(../images/df_use_gh.png);
}

.df_use_im5 {
  background-image: url(../images/df_use_dy.png);
}

.df_use_im6 {
  background-image: url(../images/df_use_yg.png);
}

.df_use_im7 {
  background-image: url(../images/df_use_zc.png);
}

.df_use_im8 {
  background-image: url(../images/df_use_hb.png);
}

.df_use_im9 {
  background-image: url(../images/df_use_rz.png);
}

.df_use_im {
  position: relative;
  width: 60%;
  height: 60%;
  top: 5%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: center;
}

.df_use_te {
  position: relative;
  width: 100%;
  height: 30%;
  top: 10%;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.use_cx {
  position: fixed;
  width: 100%;
  height: 0%;
  bottom: 50px;
  left: 0;
  transition: all 0.3s steps(60);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 0px 20px #ccc;
  background: #fff;
}

.use_cx_im {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  top: 10px;
  background-image: url(../images/df_use_sm.png);
  background-size: 60px;
  background-position: center;
}

.use_cx_body {
  position: relative;
  width: 80%;
  height: 70%;
  top: 8%;
  left: 0%;
  transition: 0.3s steps(60);
  margin: 0 auto;
}

.use_cx_body2 {
  position: absolute;
  left: 110%;
  top: 20%;
}

.use_cx_name {
  position: relative;
  width: 80%;
  height: 20%;
  background: #fff;
  margin: 0 auto;
  border-radius: 50px;
  border: 1px solid #242f44;
}

.cx_name_i {
  position: relative;
  width: 80%;
  height: 90%;
  border: none;
  top: 3%;
  left: 10%;
  font-size: 20px;
  outline: none;
}
.cx_name_t{
  position: relative;
  float: right;
  width: 10%;
  height: 70%;
  top:15%;
  right: 10%;
  opacity: 0;
  transition: 0.2s;
  background-image: url(../images/cx_gb.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
}
.use_cx_sex {
  top: 8%;
}

.use_cx_bt {
  position: relative;
  width: 50%;
  height: 50px;
  line-height: 50px;
  top: 20%;
  background: black;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.use_cx_bt:hover {
  width: 55%;
  transition: 0.2s steps(60);
}

.use_cx_h1,
.use_cx_h2,
.use_cx_h3 {
  text-align: center;
  margin: 0;
}
.use_cx_h3{
  margin: 4%;
}
#cx_d span {
  font-size: 20px;
}

#cx_name_v,
#cx_sex_v {
  font-weight: bold;
}

.cx_d {
  position: relative;
  float: left;
  width: 50%;
  height: 50px;
  background: #fff;
  margin-left: 5%;
  left: -2%;
  top: 6%;
  padding: 0px 6px;
  border: 1px solid #242f44;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
}

.cx_sex_d {
  width: 30%;
}

.use_cx_sj {
  position: absolute;
  width: 100%;
  height: 53%;
  top: 41%;
  background: #000;
  color: #fff;
  box-shadow: 0px 0px 2px #ccc;
  border-radius: 20px;
  text-align: center;
}

.use_cx_sj span {
  font-size: 30px;
  font-weight: bold;
}
.use_fh_bt{
  position: relative;
  float: left;
  width: 10%;
  height: 10%;
  top:70%;
  color: #000;
  margin-left: 20%;
  left: 10%;
  border-radius: 50%;
  background-image: url(../images/use_fh.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  box-shadow: 0px 0px 10px #ccc;
}
.use_gb_bt{
  background-image: url(../images/use_gb.png);
}
